.container {
	width: 80%;
	max-width: 1000px;
	margin: $spacing*2 auto;
	display: block;
	background: #FFF;
	border-radius: $spacing;
	min-height: 350px;
	padding: $spacing;

	&[pg='loading'] {
		* {
			display: none;
		}
	}
}