<form class="form-classic">
  <h1> Perfil </h1>
  <div class="row ar-flex">
    <div class="ar-flex-item-1">
      <label for='name'> Nome: </label>
      <input type='text' id='name' name='name' />
    </div>

    <div class="ar-flex-item-1">
      <label for='email'> Email: </label>
      <input type='text' id='email' name='email' />
    </div>

    <div class="ar-flex-item-2 img-profile">
      
    </div>
  </div>

  <div class='row ar-flex'>
    <div class="ar-flex-item-1">
      <label for='email'> Email: </label>
      <input type='text' id='email' name='email' />
    </div>    

    <div class="ar-flex-item-1">
      <label for='birth'> Nascimento: </label>
      <input type='text' id='birth' name='birth' />
    </div>    


  </div>

  <div class='row'>
    <input type="button" value="Salvar" class='bt-white-blue'/>
  </div>
</form>