<form class="form-classic">
  <h1> Perfil </h1>
  <div class="row ar-flex">
    <div class="ar-flex-item-1">
      <label for='name'> Nome: </label>
      <input type='text' id='name' name='name' />
    </div>

    <div class="ar-flex-item-1">
      <label for='email'> Email: </label>
      <input type='text' id='email' name='email' />
    </div>

 
  </div>

  <div class='row ar-flex'>
    <div class="ar-flex-item-1">
      <label for='city'> Cidade: </label>
      <input type='text' id='city' name='city' />
    </div>    

    <div class="ar-flex-item-1">
      <label for='state'> Estado: </label>
      <!-- <input type='text' id='state' name='state' /> -->
      <select name='state' id='state'>
       <option> Escolha o estado </option>
      </select>
    </div>    

    <div class="ar-flex-item-1">
      <label for='birth'> Nascimento: </label>
      <input type='text' id='birth' name='birth' />
    </div>    


  </div>

  <div class='row'>
    <input type="button" value="Salvar" name='updateUser' class='bt-white-blue'/>
  </div>
</form>