@font-face {
    font-family: 'quartzo';
    src: url('fonts/quartzo__personal_use_only-webfont.eot');
    src: url('fonts/quartzo__personal_use_only-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quartzo__personal_use_only-webfont.woff2') format('woff2'),
         url('fonts/quartzo__personal_use_only-webfont.woff') format('woff'),
         url('fonts/quartzo__personal_use_only-webfont.ttf') format('truetype'),
         url('fonts/quartzo__personal_use_only-webfont.svg#quartzo_demobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nonchalance';
    src: url('fonts/nonchalance_regular-webfont.eot');
    src: url('fonts/nonchalance_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nonchalance_regular-webfont.woff2') format('woff2'),
         url('fonts/nonchalance_regular-webfont.woff') format('woff'),
         url('fonts/nonchalance_regular-webfont.ttf') format('truetype'),
         url('fonts/nonchalance_regular-webfont.svg#nonchalanceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}