.form-classic {
	.row {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px dashed #E5E5E5;
		&:last-child {
	      border-bottom: none;
	      &:not(.margin){
	        margin-bottom: 0px;
		    padding-bottom: 0px;	
	      }
		  
		}

		&:not(.ar-flex) {
			display: block;
		}

		&.ar-flex {
			.ar-flex-item-1, .ar-flex-item-2, .ar-flex-item-3, .ar-flex-item-4, .ar-flex-item-5, .ar-flex-item-6, {
				margin-right: 10px;

				&:last-child {
					margin-right: none;
				}
			}
		}
	}
	label {
		color: #5A5A5A;
		display: block;
		padding: 3px 0px;
		font-size: 14px;
	}

	input[type='text'], input[type='password'], input[type='tel'], select {
		padding: 3px;
		width: calc(100% - 10px);
		background: #FFF;
		border: 1px solid $grey;
	}

	.form-error {
		border: 1px solid $redError!important;
		background: $blueAlmostWhite!important;
	}
	.requirement {
		color: $redError;
		font-style: italic;
	}
	.return-msg {
	    padding: $spacing $spacing/2;
	    border: 1px solid;
	    font-size: 14px;
	    margin-bottom: $spacing;
	    display: none;

	    &.msg-success {
	      background-color: $greenReallySoft;
	      border-color: $greenSoft;
	      color: $blueSky;
	    }

	    &.msg-error {
	      background-color: $redErrorAgainstTheLight;
	      border-color: $redError;
	      color: $redError;
	    }
	}

	.bad-tooltip {
		background: rgba(244, 229, 229, 0.8);
		padding: $spacing;
	    border: 1px solid;
	    font-size: 12px;
	    position: absolute;
	    border-radius: $spacing/2;
	    margin-bottom: $spacing;
	    border-color: $redError;
	    color: $redError;
	}
}