h1 {
  text-transform: uppercase;
  color: $blueSky;
  font-family: nonchalance;
  font-size: 22px;
  margin-bottom: $spacing*1.5;
  padding-bottom: $spacing*1.5;
  border-bottom: 1px solid $blueSky;
}