// Colors
$blueSky: #25B7D3;
$blueSky2: #70dcef;
$blueAlmostWhite:  #F0F5F5;
$grey: #E2E4E5;
$grey2: #555;
$greyGradientFrom:#FFF;
$greyGradientTo:#F3F3F3;
$greyGradientDefault:#F5F5F5;
$greenSoft: #25B681;
$redError: #A20000;

//spacing
$spacing: 10px;