<ul class="category">
  <li> 
    <a> Refeições </a> 
    <ul class="subcategory">
    	<li> <a> Cadastrar </a></li>
    	<li> <a> Exibir Todos </a></li>
    	<li> <a> Fábrica de relatórios </a></li>
    </ul>
  </li>

  <li> 
    <a> Usuário </a> 
    <ul class="subcategory">
    	<li> <a> Perfil </a></li>
    	<li> <a onclick="a$.login.logout();"> Logout </a></li>
    </ul>
  </li>
  
  <li> 
    <a> Admin </a> 
    <ul class="subcategory">
    	<li> <a> Pessoas </a></li>
    	<li> <a> Alimentos </a></li>
    </ul>
  </li>
</ul>