<ul class="category ar-flex ar-flex-item-1 ar-flex-item-center">
  <li class="ar-flex-item-1"> 
    <a class="menu-header"> Refeições </a> 
    <ul class="subcategory">
    	<li> <a> Cadastrar </a></li>
    	<li> <a> Exibir Todos </a></li>
    	<li> <a> Fábrica de relatórios </a></li>
    </ul>
  </li>

    
  <li class="ar-flex-item-1">  
    <a class='menu-header'>  Admin </a> 
    <ul class="subcategory">
    	<li> <a> Pessoas </a></li>
    	<li> <a> Alimentos </a></li>
    </ul>
  </li>

  <li class="ar-flex-item-1 selected">  
    <a class="menu-header"> Usuário </a> 
    <ul class="subcategory">
      <li> <a> Perfil </a></li>
      <li> <a> Perfil </a></li>
      <li> <a> Perfil </a></li>
      <li> <a> Perfil </a></li>
      <li> <a> Perfil </a></li>
      <li> <a> Perfil </a></li>
      <li> <a onclick="a$.login.logout();"> Logout </a></li>
    </ul>
  </li>
</ul>